#idwelcome {color:blue;font-weight:900;}




div{  
    width:10px; /* or whatever width you want. */
    display:block;
    height:10px;
    background-color: lightblue;
}

div#idHierLigtEenSchip{  
    width:10px; /* or whatever width you want. */
    display:block;
    height:10px;
    background-color: black;
}

