#idwelcome {color:blue;font-weight:900;}




div{  
    width:10px; /* or whatever width you want. */
    display:block;
    height:10px;
    background-color: white;
    border: 0px solid black;
}

div#idHierLigtEenSchip{  
    width:10px; /* or whatever width you want. */
    display:block;
    height:10px;
    background-color: black;
    border: 0px solid black;
}

table {
    border: 0px solid black;
}
