#idwelcome {color:blue;font-weight:900;}

body { font-family: 'courier';}


div{  
    width:10px; 
    display:block;
    height:10px;
    background-color:  white;
    border: 0px solid cornsilk;
    border-spacing: 0px
    
}

div#idHierLigtEenSchip{  
    width:10px; 
    display:block;
    height:10px;
    background-color: black;
    border: 0px solid black;
}

table {
    border: 5px solid ghostwhite;
    border-spacing: 0px;
}


td {border-spacing: 0px;
}


.button {
    background-color: #e7e7e7; color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 14px;
    width: 250px;
}